<%= stylesheet_link_tag 'homepage_styles' %>

<div class="right-panel">
      <div class="current-user">
        <img src="/assets/SNPhoto.jpg" alt="profile picture">
        <span>Jorge Torres</span>
      </div>
      <div class="stats flex">
        <span>
          <p>184</p>
          <p>followers</p>
        </span>
        <span>
          <p>200</p>
          <p>following</p>
        </span>
      </div>
      <h3>Who to follow</h3>
      <ul class="opinions-feed"><% @not_followed_users.each do |usr| %>
        <li>
          <div class="container mt-3 px-0">
            <div class="d-flex p-1 mx-2">
              <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png" alt="John Doe"
              class="mr-2 mt-0" style="width:20px;height:20px;">
              <div>
                  <%#= link_to usr.username, user_path(usr.id) %>
                  <p class="px-2 mb-0"><%= usr.username %></p>
              </div>
            </div>
          </div>

        </li>
        <% end %>
      </ul>
    </div>

<h1>Food Reviews</h1>
<%= render 'form' %> 
<h4 class="mt-4">Latest Reviews:</h4>
<ul class="opinions-feed">
  <% @opinions.each do |op| %>
    <li>
      <div class="container mt-3 px-0">
        <div class="d-flex border p-3 my-1">
            <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png" alt="John Doe"
                class="mr-2 mt-2" style="width:60px;height:60px;">
            <div>
                <h4 class="px-2"><%= op.author.username %></h4>
                <p class="px-2 mb-0"><%= op.text %></p>
            </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
