<%= stylesheet_link_tag 'homepage_styles' %>

<div class="right-panel">
  <div class="current-user flex">
    <div class="center_prof_img">
      <%= check_profile_photo(@user)%>
    </div>
    <span><%= @user.fullname %></span>
  </div>
  <div class="fllw-btn">
    <%= follow_user(@user, @followed_by) %>
  </div>
  <div class="stats flex">
    <span>
      <p><%= @user.opinions.length %></p>
      <p>reviews</p>
    </span>
    <span>
      <p><%= @followed_by.length %></p>
      <p>followers</p>
    </span>
    <span>
      <p><%= @user.inverse_followers.length %></p>
      <p>following</p>
    </span>
  </div>
  <h3>Followed by:</h3>
  <ul class="opinions-feed">
    <% @followed_by.each do |usr| %>
      <li>
        <div class="container  px-0">
          <div class="d-flex p-1 mx-2">
            <div class="center_who_img">
              <%= check_for_avatar(usr) %>
            </div>
            <div>
                <p class="px-2 mb-0">
                  <%= link_to usr.username, user_path(usr.id), class:'who_follow_link' %>
                </p>
            </div>
          </div>
        </div>

      </li>
      <% end %>
  </ul>
</div>